@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Titillium+Web&subset=latin,latin-ext);

body {
  font-family: 'Titillium Web', sans-serif;
}

header {
  width: 100%;
  background-color: #111;
  background-image: -webkit-linear-gradient(#333, #000 20%, #484848); 
}


header > section, nav > ul, footer > section, section.content {
  position: relative;
  margin: 0 auto;
  max-width: 960px;
}

header > section {
  position: relative;
}

header .logo {
  background: #fff;
  width: 6em;
  padding: 0.5em;
}

header .logo img {
  width: 100%;
}

header .slogan {
  position: absolute;
  color: #fff;
  top: 0.9em;
  right: 0;
  text-align: right;
  color: #999;
  text-shadow: 1px 1px 0px #000;
}

@media (max-width: 980px) {
  header .slogan {
    right: 1em;
  }
}

header .slogan h2 {
  font-size: 1.2em;
  line-height: 1.4em;
}

header .slogan p {
  font-size: 0.9em;
}



header .slogan a {
  text-decoration: none;
  color: #999;
}

/* navigation part */

nav {
  background: #c22c2f; 
  background-image: -webkit-linear-gradient(#c22c2f, #540c0d);
}

nav ul {
  padding: 0.5em 0 0.5em 5em;
  color: #eee;
}

nav a {
  color: #eee;
}

nav li {
  display: inline-block;
}

/* Content part */

.central {
  position: relative;
  height: 500px;
}

#maximage {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100%;
  z-index: -1;
}

#maximage img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

}

.content {
  height: 100%;
}

.content .slogan {
  position: absolute;
  top: 2em;
  left: 1em;
  font-size: 1.5em;
  color: #3a342b;
  text-shadow: 1px 1px 0px #fff;
  font-family: 'Source Sans Pro', sans-serif;
}

/* footer */

footer {
  position: absolute;
  background: #fee;
  bottom: 0;
  width: 100%;
}

footer section p {
  margin: 1em;
  display: inline-block;
  margin-right:2em;
}

footer section p.opening {
  display: block;
  width: 100%;
  margin: 1em auto;
  text-align: center;
}
